.unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}
 
body {
    font-family: "UnifrakturMaguntia", cursive;
    background-color: yellow;
}

.szovegtarolo {
    width: 80%;
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    color: #2c3e50;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    text-align: justify;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: 700;
}

a:hover {
    text-decoration: underline 4px;
}
